

.records{
    width: 100%;
    user-select: none;
    text-align: center;
    border-spacing:0; 
    border-collapse: collapse;
    
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;    
    color: var(--text-color);
  
    
}
.records td{
    height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid var(--label-color);
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

